<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MONITOREO DB's</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css">
</head>
<body>
    <div id="main-container">
        <table>
            <thead>
                <tr>
                    <th>DataBase</th><th>Instance</th><th>Status</th><th>Open Mode</th>
                </tr>
            </thead>
            {% for x in tupla %}
            <tr>
                    <td>{{ x[0] }}</td>
                    <td>{{ x[1] }}</td>
                    {% if x[2] == 'CLOSE'%}
                    <td class="red">{{ x[2] }}</td>
                    {% else %}
                    <td class="green">{{ x[2] }}</td>
                    {% endif %}
                    
                    <td>{{ x[3] }}dd</td>
            <tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>